@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');


body{
    font-family: 'Outfit', sans-serif;  
    color: var(--black);
}

:root{
    --primary:#2758DF;
    --black:#000000;
    --white:#FFFFFF;
    --primary-light:#E9EEFC;
    --smoke:#D8E1FA;
    --yellow:#FFEC40;
}



header{
    padding: 50px 0;
    background: #fff;
}

header img{
    width: 199px;
}
footer img{
    width: 184px;
}
header li{
    list-style: none;
    display: inline;
    margin-left: 50px;
}
header ul{
    text-align: right; 
    margin: 0;
    padding: 0;
}

header li a{
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-weight: 300;
}

.btn{
    font-size: 16px;
    border-radius: 0;
    background: var(--primary);
    color: var(--white);
    font-weight: 300;
    padding: 13px 16px;
}
.hero{
    background: var(--primary);
    padding: 100px 0;
}

.hero h2{
    font-size: 61px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 40px;
}

.splide__arrow svg{
    display: none;
}
.splide__arrow{
    background: var(--white);
    opacity: 1;
    width:45px;
    height: 45px; 
    background-position: center;
    background-repeat: no-repeat;
}
.splide__arrow--prev{
    left: -23px;
    background-image: url(../images/arrow-left.svg);
}
.splide__arrow--next{
    right: -23px;
    background-image: url(../images/arrow-right.svg);
}

.c-logos{
    text-align: center;
    padding: 100px 0;
}

.title-black{
    color: var(--black); 
    font-size: 43px; 
    font-weight: 500;
    line-height: 115%;  
    margin-bottom: 50px;
}
.logos-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.logos-list img{
    width: 18%;
}

.why-choose-us{
    background: #E9EEFC; 
    padding: 100px 0;
}

.std-card{
    background: var(--white);
    border-radius: 13px;
    padding: 40px;
    height: 100%;
}
.std-card h4{
    font-size: 30px;
    margin-bottom: 30px;
}

ul{
    margin: 0;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 300;
    line-height: 48px;
}

.std-profile{
    background: rgba(239, 112, 112, 0.05);
    border-radius: 9px;
    border: 1px solid #EF7070;
    padding: 30px;
    margin-top: 55px;
}
.pro-badge{
    background: #EF7070;
    color:var(--white);
    display: block;
    font-size: 16px; 
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 56px;
    margin: 0 auto;
    width: 150px;
    margin-top: -53px;
}
.name-and-profile{
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px; 
}
.std-profile-pic img{
    width: 140px;
}
.std-name p{
    margin: 0px;
    color: rgba(0, 0, 0, 0.61);
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.std-name h3{
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
}

.pro-details-std{
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    border-bottom: 1px solid #EF7070;
    justify-content: space-between;
}

.pro-details-std li{
    list-style: none;
    font-weight: 600;
    font-size: 15px;
}
.pro-details-std li span{
    display: block;
    font-weight: 400;
}
.pro-details-std li span strong{
    background: #2758df;
    color: #fff;
    padding: 2px 8px;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 500;
}
.project-and-skills{
    display: flex;
    padding-top: 30px;
}

.project-and-skills p{
    margin-bottom: 5px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

.skills{
    width: 60%;
}

.skills span{
    display: inline-flex;
    padding: 10px 15px;
    justify-content: center;
    font-size: 13px;
    align-items: center; 
    border-radius: 47px;
    margin-bottom: 10px;
    gap: 10px;
    border: 1px solid rgba(39, 88, 223, 0.08);
     
}

.projects span{
    display: flex; 
    padding: 10px 15px;
    align-items: center;
    margin-bottom: 10px;
    font-size: 13px; 
    border-radius: 7px;
    border: 1px solid rgba(39, 88, 223, 0.08);
}

.smart-pro .std-profile{
    border-radius: 9px;
    border: 1px solid #1FBA2E;
    background: rgba(31, 186, 46, 0.04);
}
.smart-pro .pro-badge{
    background: #1FBA2E;
    width: 168px;
}

.smart-pro .pro-badge img{
    position: relative;
    top: -2px;
    left: 7px;
}
.smart-pro h4 img{
    position: relative;
    top: -2px;
    left: -6px;
}
.smart-pro .pro-details-std{
    border-bottom: 1px solid #1FBA2E;
}

.internz-electives{
    background: var(--primary);
    padding: 100px 0;

}
.title-white {
    color: var(--white);
    font-size: 43px;
    font-weight: 400;
    line-height: 115%;
    margin-bottom: 50px;
}
.Electives-main{
    background: rgba(34, 48, 169, 0.21);
    border: 1px solid rgb(255 255 255 / 28%);
    display: flex;
}

.filter{
    width: 400px;
    border-right: 1px solid rgb(255 255 255 / 28%);
}

.filter h5{
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    border-bottom: 1px solid rgb(255 255 255 / 28%);
    padding: 20px;
}

.filter-list{
    padding: 20px;
}


.electives-list{
    width: 100%;
}

.electives-list h5{
    padding: 20px;
    border-bottom: 1px solid rgb(255 255 255 / 28%);
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    color: #fff;
}
.card-electives-wp{
    padding: 30px;
    display: flex; 
    gap: 25px;
    flex-wrap: wrap;
}
.ele-card{
    width: calc(33.33333% - 17px);
    background: var(--white); 
    border-radius: 8px;
    text-decoration: none;
    transition: 0.1s;
    color: black;
}

.careertrack{
    width: calc(50% - 14px);
    background: var(--white); 
    border-radius: 8px;
    text-decoration: none;
    transition: 0.1s;
    color: black;
}
.careertrack h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px !important;
}
.numb-elec{
    font-size: 13px;
}
.numb-elec span{
    font-size: 13px;
    font-weight: 400;
    opacity: .8;
    display: block;
}
.ele-card:hover{
    color: var(--black);
    transition: 0.5s;
    transform: scale(1.03);
}

.ele-card h4{
    padding: 20px;
    font-size: 16px;
    margin: 0;
    font-weight: 500;
    border-bottom: 1px solid var(--smoke);
}
.ele-card ul{
    list-style: none;
    font-size: 13px;
    padding: 15px 15px;
    font-weight: 500;
    border-bottom: 1px solid var(--smoke);
    padding-bottom: 30px;
}

.ele-card ul li{
    line-height: 18px;
    margin-bottom: 20px;
}
.ele-card ul li:last-child{
    margin-bottom: 0;
}
.ele-card ul li span{
    display: block;
    opacity: 0.7;
    font-weight: 400;
}

select.form-select, .form-control {
    font-size: 14px;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.search-input{
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-size: 19px;
    padding-left: 44px;
    background-position: 13px;
}
.logo-company{
    padding: 10px 0;
    text-align: center;
    position: relative;
    padding-top: 20px;
   
}
.careertrack .logo-company img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: contain;
   
}
.careertrack  .logo-company{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.logo-company img{
    height: 55px;
}
.logo-company::after {
    position: absolute;
    left: 50%;
    top: -1px;
    content: 'Powered by';
    background: var(--primary);
    color: #fff;
    font-size: 12px;
    transform: translate(-50%, -50%);
    padding: 2px 7px;
    border-radius: 10px;
}
.logo-wp-multi{
   object-fit: contain;
    width: 20%;
    height: 40px;
}

.enquiry{
    padding: 100px 0;
}
.title-black.underline{
    position: relative;
    margin-bottom: 70px;
}
.title-black.underline::after{
    position: absolute;
    left: 0;
    display: block;
    width: 120px;
    height: 5px;
    background: var(--primary);
    content:"";
    bottom: -17px;
}
.title-2{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--smoke);
    margin-bottom: 30px;
}
.enquiry ul{
    list-style: none;
    padding: 0;
}
.enquiry ul li{
    position: relative;
    font-size: 19px;
    font-style: normal;
    padding: 10px;
    padding-left: 55px;
    font-weight: 400;
}
.enquiry ul li span{
    position: absolute;
    left: 0;
    top: 15px;
    background: var(--primary);
    width: 40px;
    height: 40px;
    text-align: center; 
    color: var(--white);
    border-radius: 40px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}
.enquiry ul li span::after{
    position: absolute;
    height: 30px;
    width: 1px;
    content: '';
    background: var(--smoke);
    top: 40px;
    left: 20px;
}
.enquiry ul li:last-child span::after{
    display: none;
}
.form-wp{
    background: #F8FAFE;
    padding: 40px 30px;
    border-radius: 4px;
    margin-top: 15px;
    border: 1px solid #DFE7F8;
}
.enquiry .btn{
    border-radius: 40px;
}
.enquiry .btn:hover{
    color: #fff;
}
.enquiry .btn img{
    position: relative;
    margin-left: 10px;
    top: -2px;
}
.enquiry .form-control{
    padding: 14px 17px;
}

.enquiry hr{
    margin-bottom: 30px;
    background-color: #b7c1dc;
}

.stories{
    background-color: var(--primary);
    padding: 100px 0;
}

.stories h4{
    margin-bottom: 0;
} 
.sub-title{
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
}
.sub-title.light{
    color: var(--white);
}

.desh-line{
    width: 121.184px;
    height: 5.854px;
    background: var(--white);
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

.story-card{
    background: var(--white);
    border-radius: 12px;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
}

.story-card .cover-card{
    max-width: 100%;
    border-radius: 12px;
}
.story-content{
    padding: 30px;
}


.story-content h4{
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 10px;
}
.story-content h6{
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
}
.story-content h6 img{
    position: relative;
    top: -3px;
    margin-right: 6px;
}

.story-content p{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: .8;
}
.story-content ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.story-content ul li{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    width: 50%;
    margin-bottom: 15px;
}
.story-content ul li span{
    display: block;
    font-weight: 400;
    opacity: .8;
}

.str-footer{
    padding-top: 40px;
    border-top: 1px solid var(--primary-light);
    text-align: center;
    margin-top: 15px;
    padding-bottom: 10px;
    
}
.str-footer a{
    padding: 10px 15px;
    background: var(--primary);
    text-decoration: none;
    color: var(--white);
    font-size: 15px;
    font-weight: 300;
    border-radius: 40px;
}

a.btn.btn-white {
    background: #fff;
    font-weight: 400;
    color: var(--primary);
}

footer{
    padding: 100px 0;
    border-top: 1px solid var(--primary-light);
}

footer ul{
    list-style: none;
    text-align: right;
}
footer ul li{
    display: inline-block;
    margin-left: 50px;
}
footer ul li a{
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
    font-weight: 400;
    position: relative;
    padding-left: 20px;
}

footer ul li a::before{
    width: 12px;
    height: 12px;
    background: var(--primary);
    border-radius: 13px;
    content: '';
    left: 0;
    top: 6px;
    position: absolute;
    display: inline-block;
}

.filter-list .btn.active, .filter-list .btn:focus{
    background: #FFEC40;
    color: var(--black);
}

.ele-header-details{
    background: var(--primary);
    color: #fff;
    padding: 150px 0;
}
.ele-header-details h1{font-size: 50px;}
.ele-header-details h5{font-weight: 400; margin-bottom: 20px;}
.ele-header-details p{font-weight: 300;}
.pt-name{
    margin-top: 10px;
}
.pt-logo {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.course-details{
    padding: 100px 0; 
    padding-bottom: 0;
}
.crs-skills{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.crs-skills span{
    font-size: 17px;
    border-color:#D8E1FA ;
}
.small-section-crs{
    margin-bottom: 80px;
}
.small-section-crs h4{
    font-size: 40px;
    margin-bottom: 30px;
}
.curr-list{
    list-style: none;
    margin: 0;
    position: relative;
    padding: 0;
}
.curr-list li{
    border-radius: 4px;
    border: 1px solid #D8E1FA;
    padding: 10px 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.unita-span{
    padding: 0px 0;
    background: var(--primary);
    border-radius: 60px;
    font-size: 16px;
    width: 90px;
    margin-right: 15px;
    color: var(--white);
    display: inline-block;
    text-align: center;
    line-height: 40px;
}
.crs-name{
    font-size: 18px;
}
.time-details{
    float: right;
}
.time-details img{
    position: relative;
    right: 8px;
    top: -1px;
}
.lock-wp{
    position: absolute;
    bottom: 0;
    height: 162px;
    width: 100%;
    background: linear-gradient(350deg, #FFF 10.7%, rgb(255 255 255 / 70%) 105.98%);
    backdrop-filter: blur(2.9000000953674316px);
}
.lock-wp .btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ctc-form-modal .col-md-12{
    padding: 0 25px;
}
.ctc-form-modal .form-wp {
    margin-bottom: 20px;
}
.btn:hover{
    color: var(--white);
}
.btn-download {
    border-radius: 50px;
    padding: 10px 20px;
}
.btn-download img{
    margin-left: 5px;
}
.form-wp{
    margin-bottom: 20px;
}
.usecase .unita-span{
    width: 40px;
}
.job-list{
    background: var(--primary);
    padding: 60px 30px;
    color: var(--white);
}
.job-list h6{
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 6px;
}
.job-list img{
    margin-bottom: 15px;
}
.job-list{
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
    border-radius: 6px;
}
.job-featured{
    padding: 50px;
    border: 1px solid #D8E1FA;
    border-radius: 4px;
}
.job-featured img{
    width: 150px;
    margin-bottom: 20px;
}
.job-featured h3{
    margin-top: 15px;
    font-size: 31px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 10px;
}
.job-featured p{
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    opacity: .8;
    margin-bottom: 0;
}

.accordion-header img{
    margin-right: 10px;
}

.ele-skills{
    background: #E9EEFC;
    padding: 100px 0;
    padding-bottom: 20px;
}

.ele-skills .card-electives-wp{
    padding: 0;
}
.ele-skills  .ele-card h4{
    font-size: 16px !important;
    margin-bottom: 0;
} 
.ele-skills .skills.crs-skills{
    border-left: 1px solid var(--smoke);
    padding-left: 20px;
}
.ele-skills .crs-skills span{
    background: var(--white);
    font-size: 16px; 
    padding: 7px 14px;
}
.ele-skills-hd.ele-header-details{
    padding: 100px 0;
}



.stories-header{
    height: 660px;
    position: relative;
    object-fit: cover;
}
.stories-header h1{
    font-size: 43px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;
}
.stories-header p{
    font-size: 23px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 5px;
}
.stories-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}
.stories-header .overlay{
    background: var(--primary);
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.75;
    width: 100%;
    height: 100%;
}
.cnt-str{
    position: absolute;
    z-index: 1;
    color: #fff;
    left: 50%;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cnt-str-stc{
    background: var(--primary);
    padding: 60px 40px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: -100px;
    z-index: 2;
    position: relative;
}

.cnt-str-stc h6{
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}
.cnt-str-stc p{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    margin: 0;
}
.cnt-str-stc h6::before{
    display: inline-block;
    content: '';
    background: var(--white);
    position: absolute;
    left: 0;
    top: 7px;
    border-radius: 10px;
    width: 10px;
    height: 10px;
}


.str-main-content{
    padding: 90px 0;
}

.str-main-content p b{
    font-weight: 500;
}
.str-main-content p{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}
.str-main-content h5{
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
}

.btn.btn-outline-light:hover{
    color: var(--primary);
}

.app-screen {
    position: relative;
    padding-top: 20px;
}
.app-screen img{
    box-shadow: 7px 7px 48px rgb(0 0 0 / 23%);
    border-radius: 18px;
    position: relative;
    z-index: 1;
}

.app-screen::before{
    content: '';
    position: absolute;
    left: -17px;
    top: 250px;
    background: url(../images/pattern.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 28px;
}
.app-screen::after{
    content: '';
    position: absolute;
    right: -17px;
    top: 80px;
    background: url(../images/pattern.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 92px;
    width: 28px;
}





@media (min-width: 1250px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1200px;
    }
}

@media (max-width: 1250px){
    .hero h2 {
        font-size: 47px;
    }
    .std-card h4 {
        font-size: 26px;
        margin-bottom: 12px;
    }
    .std-card ul{
        font-size: 16px;
        font-weight: 300;
        line-height: 40px;
    }
    .pro-badge{
        width: 134px;
        margin-top: -52px;
        font-size: 14px;
    }
    .smart-pro .pro-badge { 
        width: 154px;
    }
    .std-name p { 
        font-size: 13px; 
    }
    .pro-details-std li, .pro-details-std li span strong { 
        font-size: 13px;
    }
    .skills span, .projects span{
        padding: 5px 10px; 
        font-size: 12px;
    }
    .ele-card h4 {
        padding: 16px 8px;
        font-size: 14px;
    }
    .logo-company img {
        height: 44px;
    }
    .card-electives-wp {
        padding: 20px;
    }
    .electives-list h5 , .filter h5{
        padding: 15px;
    }

    footer .col-md-6:first-child{
        width: 33.33333333%;
    }
    footer .col-md-6:last-child{
        width: 66.66666667%;
    }
    .ele-skills .crs-skills span { 
        font-size: 13px;
    }
    
}

@media (max-width: 991px){
    .story-content ul li{
        width: 100%;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .story-content h4 {
        font-size: 21px;
    }
    .story-content h6 {
        font-size: 18px;
    }
    .story-content p {
        font-size: 13px;
    }
    .statistic-str .col-md-10.offset-1{
        width: 100%;
        margin: 0;
    }
    .cnt-str-stc h6 {
        font-size: 16px;
    }
    .cnt-str-stc{
        padding: 53px 31px;  
    }
    .cnt-str-stc p {
        font-size: 14px;
    }
    .str-main-content p {
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 11px;
    }
    .str-main-content br{ 
        display: block;
        margin: 10px 0;
    }
    footer ul li {
        display: inline-block;
        margin-left: 20px;
    }
    footer ul li a{
        font-size: 16px;
    }
    footer img {
        width: 144px;
    }
    .hero h2 {
        font-size: 31px;
    }
    .why-choose-us .col-md-6{
        width: 100%;
        margin-bottom: 20px;
    } 
    .Electives-main{
        flex-wrap: wrap;
    }
    .filter{
        width: 100%;
    }
    .electives-list{
        width: 100%;
    }
    .ele-card {
        width: calc(50% - 13px);
    }
    .enquiry .col-md-5, .enquiry .col-md-7{
        width: 100%;
    }
    .enquiry .col-md-7{
        margin-top: 50px;
    }
    .ele-header-details h1 {
        font-size: 30px;
    }
    .ele-header-details h5 {
        font-weight: 400;
        margin-bottom: 14px;
        font-size: 15px;
    }
    .ele-header-details p {
        font-weight: 300;
        font-size: 13px;
    }
    .pt-logo {
        width: 210px;
        margin: 0 auto;
        text-align: center;
    }
    .crs-name {
        font-size: 16px;
    }
    .unita-span{
        font-size: 13px;
        width: 78px;  
    }
    .time-details { 
        font-size: 14px;
    }
    .btn {
        font-size: 14px;
    }
    .job-list h6 {
        font-size: 15px;
        margin-bottom: 2px;
    }
    .job-list {
        font-size: 14px;
        padding: 33px 16px;
    }
    .job-featured h3{
        font-size: 21px;
    }
    .job-featured p {
        font-size: 15px;
    }
    .job-featured img {
        width: 120px;
        margin-bottom: 5px;
    }
    .small-section-crs{
    
    }
}

@media (max-width: 768px){
    header img {
        width: 109px;
    }
    header .col-md-6{
        width: 50% !important;
    }
    header {
        padding: 15px 0;
    }
    .btn {
        font-size: 13px;
        padding: 9px 12px 
    }
    header .col-md-6:first-child{
        width: 37% !important;
    }
    header .col-md-6:last-child{
        width: 63% !important;
    }
    header li { 
        margin-left: 11px;
    }
    header li a { 
        font-size: 14px;
        font-weight: 300;
    }
    header .row{
        align-items: center;
    }
    footer .col-md-6:first-child {
        width: 100%;
    }
    footer .col-md-6:last-child {
        width: 100%;
    }
    footer ul li {
        display: inline-block;
        margin-left: 10px;
        margin-left: 12px;
    }
    footer ul {
        list-style: none;
        font-size: 7px;
        padding: 0;
        padding-top: 10px;
        border-top: 1px solid var(--smoke);
        text-align: left;
        margin-top: 30px;
    }
    footer ul li a {
        font-size: 14px;
        padding-left: 16px;
    }
    footer ul li a::before{
        top: 4px;
        width: 10px;
        height: 10px;
    }
    footer {
        padding: 40px 0;
    }
    .logos-list img {
        width: 47%;
    }
    .logos-list{
        gap: 15px;
        flex-wrap: wrap;
    }
    .name-and-profile {
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero{
        padding: 80px 0;
    }
    .hero h2 {
        font-size: 24px;
        margin-bottom: 11px;
    }
    .splide{
        margin-top: 30px;
    }
    .splide__arrow--prev{
        left: 10px; 
        transform: scale(0.8);
        margin-top: -22px;
    }
    .splide__arrow--next{
        transform: scale(0.8);
        margin-top: -22px;
        right: 10px 
    }
    .c-logos, .why-choose-us{
        padding: 50px 0;
    }
    .title-black{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .std-card{
        padding: 20px;
    }
    .std-card h4 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .std-card ul {
        font-size: 14px;
        font-weight: 300;
        line-height: 32px;
    }
    .std-profile{
        padding: 15px;
    }
    .pro-details-std{
        flex-wrap: wrap;
        border-bottom: 0;
    }
    .pro-details-std li{
        width: 100%;
        margin-bottom: 10px;
    }
    .pro-details-std li span strong{
        font-weight: 400;
        margin-left: 5px;
    }
    .pro-badge { 
        margin-top: -37px;
    }
    .project-and-skills{
        flex-wrap: wrap;
    }
    .projects{
        width: 100%;
        margin-top: 10px;
    }
    .internz-electives{
        padding: 60px 0;
    }
    .title-white{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .filter-list{
        border-bottom: 1px solid rgb(255 255 255 / 28%);
    }
    .filter h5{
        font-size: 18px;
    }
    .electives-list h5{
        font-size: 18px;
    }
    .ele-card {
        width: 100%;
    }
    .enquiry{
        padding: 60px 0;
    }
    .title-2 {
        font-size: 18px;
    }
    .title-black.underline{
        margin-bottom: 40px;
    }
    .enquiry ul li { 
        font-size: 15px;
        padding: 10px;
        padding-left: 40px;
    }
    .enquiry ul li span{
        width: 30px;
        height: 30px;
        font-size: 17px;
        top: 11px;
        line-height: 30px;
    }
    .enquiry ul li span::after{
        top: 30px;
        left: 15px;
    }
    .enquiry ul{
        line-height: 31px;
    }
    .form-wp{
        padding: 25px 20px;
    }
    .stories{
        padding: 60px 0;
    }
    .desh-line{
        margin-bottom: 30px;
    }
    .story-card{
        margin-top: 0;
    }
    .story-content {
        padding: 20px;
    }
    .story-content p{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .str-footer {
        padding-top: 25px;  
        padding-bottom: 7px;
    }
    .ele-header-details{
        padding: 80PX 0;
    }
    .ele-header-details h1 {
        font-size: 24px;
    }
    .pt-logo{
        margin-top: 30px;
    }
    .course-details{
        padding: 60px 0;
    }
    .small-section-crs h4{
        font-size: 24px;
        margin-bottom: 15px;
    }
    .skills span, .projects span{
        margin-bottom: 0;
    }
    .small-section-crs {
        margin-bottom: 30px;
    }
    .curr-list li{
        margin-bottom: 15px;
    }
    .unita-span {
        font-size: 13px;
        width: 63px;
        line-height: 25px;
    }
    .crs-name{
        display: block;
        line-height: 140%;
        font-size: 13px;
        margin-top: 2px;
        margin-bottom: 8px;
    }
    .time-details {
        float: right;
        position: relative;
        top: -73px;
        font-size: 13px;
    }
    .time-details img {
        position: relative;
        right: 3px;
        top: -1px;
        width: 15px;
    }
    .lock-wp{
        height: 248px;
    }
    .usecase .unita-span {
        width: 26px;
    }
    .job-list{
        margin-bottom: 15px;
    }
    .job-featured{
        padding: 20px;
    }
    .job-featured img {
        width: 90px;
    }
    .job-featured h3 {
        font-size: 17px;
    }
    .job-featured p {
        font-size: 13px;
        line-height: 140%;
    }
    .app-screen{
         overflow: hidden;
    }
    .app-screen img{
        box-shadow: none;
    }
    .accordion-button{
        padding: 10px;
    }
    .course-details{
        padding-bottom: 0;
    }
    .stories-header p {
        font-size: 15px;
    }
    .stories-header{
        height: 400px;
    }
    .stories-header h1 {
        font-size: 23px;
    }
    .cnt-str-stc{
        padding: 20px;
        flex-wrap: wrap;
        gap: 20px;
    }
    .str-main-content {
        padding: 40px 0;
    }
    .str-main-content p{
        font-size: 14px;
        line-height: 140%;
    }
    .str-main-content h5{
        font-size: 20px; 
        margin-bottom: 10px;
        margin-top: 16px;
    }
    .str-main-content br{
        display: none;
    }
    .str-main-content .img-fluid{
        margin: 10px 0;
    }
    .ele-skills-hd.ele-header-details {
        padding: 60px 0;
    }
    .ele-header-details.ele-skills-hd{
        text-align: center;
    }
    .ele-header-details.ele-skills-hd h1 {
        font-size: 21px;
    }
    .ele-header-details.ele-skills-hd .text-end{
        text-align: center !important;
    }
    .ele-skills .skills.crs-skills{
        padding: 0;
        border: none;
    }
    .skills-list-ele{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .project-and-skills .skills span, .project-and-skills .projects span{
        margin-bottom: 10px;
    }
}